.container{
  .row{
    .img1{
      margin-top: 80px;
    }
    .l{
      margin-left: 46%;
      color: black;
      margin-top: 95px;
    }
    .l1{
      margin-left: 80px;
      color: black;
      margin-top: 95px;

    }
    .btn-info{
      margin-left: 80px;
      margin-top: 95px;

    }
  }
}
.kk4{
  .s1{
    .d09{
      border: 1px solid forestgreen;
      background-color: forestgreen;
      color: white;
      border-radius: 3px;
      width: 100px;
      height: 70px;
      justify-content: center;
      text-align: center;


    }
    a:hover{
      color: white;
      border: 1px solid forestgreen;
      border-bottom: none;

    }


  }


}
.a5{
  height: 500px;
  .a6{
    .a10{
      .iframe{
        width: 600px;
        height: 450px;
      }


    }
    .a7{
      .a8{
        margin-right: 50px;
        margin-left: -15px;
        .nm{
          border: 1px solid forestgreen;
          background-color: forestgreen;
          color: white;
          border-radius: 3px;
          width: 150px;
          height: 40px;
          justify-content: center;
          text-align: center;
          margin-right: 30px;


        }


      }


    }


  }


}
.a12{
  .a13{
    .a17{
      p{
        text-decoration: none;
        color: #767676;

      }

    }
    .a16{
      a{
        text-decoration: none;
        color: #767676;

      }


    }
    .a15{
      a{
        text-decoration: none;
        color: #767676;

      }

    }
    .a14{
      a{
        text-decoration: none;
        color: #767676;

      }


    }


  }



}
.footer{
  .div1{
    a{
      text-decoration: none;
      color: #767676;
    }
    p{
      color: #767676;
    }


  }


}
